.heading{
    margin: 0px;
    box-shadow: 8px 8px 8px rgba(38, 0, 255, 0.635);
    font-weight: bold;
    font-size: 25px;
    width: 100%;
}
.note{
    color: rgb(255, 0, 0);
    font-size: 20px;
    width: 50%
}
.note_content{
font-size: 15px;
color: black;
width: 25%
}
.copy_right_footer{
    text-align: center;
    width: 100%;
    line-height: 1;
    bottom: 0;
    background-color: rgba(140, 11, 225, 0.692);
    color: white;
    position: fixed;
    font-weight: bold;
    font-size: 20px;
}
canvas{
    box-shadow: 10px 10px 10px rgba(0, 234, 255, 0.772);
    background-color: aqua;
    border: 5px solid aquamarine;
    border-radius: 20px;
}